html, body, div, span, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,abbr, address, cite, code,del, dfn, em, img, ins, kbd, q, samp,small, strong, sub, sup, var,b, i,
dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, figcaption, figure,footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;}
body {line-height:1;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {display:block;}
nav ul {list-style:none;}
blockquote, q {quotes:none;}
blockquote:before, blockquote:after,q:before, q:after {content:'';content:none;}
a {margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;}
/* change colours to suit your needs */
ins {background-color:#ff9;color:#000;text-decoration:none;}
/* change colours to suit your needs */
mark {background-color:#ff9;color:#000;font-style:italic;font-weight:bold;}
del {text-decoration: line-through;}
abbr[title], dfn[title] {border-bottom:1px dotted;cursor:help;}
table {border-collapse:collapse;border-spacing:0;}
/* change border colour to suit your needs */
hr {display:block;height:1px;border:0;border-top:1px solid #cccccc;margin:1em 0;padding:0;}
input, select {vertical-align:middle;}

.selected{font-weight:bold;text-decoration:underline !important;color:#ffffff !important;}
.text-white{color:#ffffff !important;}
.text-black{color:#000000 !important;}
.text-black2{color:#222222 !important;}
.text-red{color:#B20303 !important;}
.text-blue{color:#337AB7 !important;}
.text-green{color:#008000 !important;}

.bgcolor-white{background:#ffffff !important;}
.bgcolor-black{background:#000000 !important;}
.bgcolor-black2{background:#222222 !important;}
.bgcolor-blue2A{background:#2A7DCE !important;}

.curp{cursor:pointer;}
.noview{display:none;}
@media(min-width:766px){
  .noview{display:block;}
}

#example2_filter{text-align:right;}
#example2_filter label{color:#337AB7;}
#example2_filter label input{background-color:#fff;float:right;border:1px solid #ccc;border-radius:4px;box-shadow:0 1px 1px rgba(0, 0, 0, 0.075) inset;color:#555;font-size:14px;height:34px;transition:border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;width:100%;}
