<head>
    <meta charset="utf-8" />
    <title>{{STATIC_VAR['TITLE']}}</title>
    <meta name="AUTHOR" content="{{STATIC_VAR['AUTHOR']}}" />
    <meta name="DESCRIPTION" content="{{STATIC_VAR['DESCRIPTION']}}" />
    <link rel="stylesheet" type="text/css" href="/static/css/default.css" />
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/bootstrap-table.css" rel="stylesheet">
    <link href="/static/css/modern-business.css" rel="stylesheet">
    <link href="/static/css/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>