<!DOCTYPE html>
<html>
    % include(ADDRESS+'templates/header.tpl')
<body>
    % include(ADDRESS+'templates/menu.tpl')
    <div class="container">

        <div class="row">

            {{INCLUDE_CONTENITORE}}

        </div>

        <hr>

    % include(ADDRESS+'templates/footer.tpl')
    </div>

% include(ADDRESS+'templates/js.tpl')
% include(ADDRESS+'templates/personalPage.tpl')
</body>
</html>